<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KBA Auction Dapp on Ethereum</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <div class="header">
    <h1>Auction Dapp on Ethereum</h1>

  </div>

</head>

<body>

  <table id="auction">

    <td>
      <br>
      <br>
      <br>
      <div class="form-style-5">
        <p> A vehicle’s owner deploys the contract to the blockchain and becomes the auction owner. The
          auction is open immediately after the contract deployment, and once the bidding period is over, the highest
          bidder
          wins the auction, and the other participants withdraw their bids. </p>
          <form action="getEvents" method="GET">
          <input type="submit" id="event" value="Block Events">
          </form>
        </div>
        <div class="form-style-5">
          <div class="header1">
            <h2>Auction Details</h2>

          </div>
          <br>




          <div id="details">
            <p><b>Car Brand</b> : <%= car[0] %></p>
            <br>
            <p><b>Car Registration Number</b> : <%= car[1] %></p>
            <br>
            <p><b>Current Car Owner</b> : <%= car[2] %></p>
            <br>
            <p><b>Auction Owner</b> : <%= data[3] %></p>
            <br>
            <p id="endingTime"><b>Auction End</b> : <%= data[0] %></p>
            <br>
            <p><b>Highest Bid</b> : <%= HighestBid %> </p>
            <br>
            <p><b>Highest Bidder</b> : <%= data[2] %></p>
            <br>
            <p><b>Auction Status</b> : <%= state %></p>
    </td>
    </div>
    <td>
      <div class="form-style-5">
        <div class="header1">
          <h2>Start Bidding..................!!!</h2>
          <br>
          <br>
        </div>



        <select id="Bidders">
          <option value="<%= data1[0]%>"><%= data1[0]%></b> </option>
          <option value="<%= data1[1]%>"><%= data1[1]%></b></option>
          <option value="<%= data1[2]%>"><%= data1[2]%></b></option>
          <option value="<%= data1[3]%>"><%= data1[3]%></option>
          <option value="<%= data1[4]%>"><%= data1[4]%></option>
        </select>
        <br>

        <input id="amount" name="amount" type="text" placeholder="Amount (ether)">
        <br>
        <input type="submit" id="bidAction" value="Bid">

        <br>
        <br>

        <p class="stylename">Check your Bid value here:</p>
        <input id="address" name="address" type="text" placeholder="Address">
        <input type="submit" id="bidValue" value="Bid Value" />
        <p id="demo"></p>
        <br>
        <br>

        <p class="stylename">Get Your bids (For loosers!!!):</p>
        <select id="AddressList1">
          <option value="<%= data1[0]%>"><%= data1[0]%></option>
          <option value="<%= data1[1]%>"><%= data1[1]%></option>
          <option value="<%= data1[2]%>"><%= data1[2]%></option>
          <option value="<%= data1[3]%>"><%= data1[3]%></option>
          <option value="<%= data1[4]%>"><%= data1[4]%></option>
        </select>
        <input type="submit" id="getBidBack" value="Get Your Bids " />

        <br>
        <br>

        <p class="stylename">Withdraw Highest Bid from Contract :</p>


        <select id="AddressList">
          <option value="<%= data1[0]%>"><%= data1[0]%></option>
          <option value="<%= data1[1]%>"><%= data1[1]%></option>
          <option value="<%= data1[2]%>"><%= data1[2]%></option>
          <option value="<%= data1[3]%>"><%= data1[3]%></option>
          <option value="<%= data1[4]%>"><%= data1[4]%></option>
        </select>
        <input type="submit" id="withdrawBid" value="Withdraw Bid" />
        </form>
      </div>
    </td>
    </tr>
  </table>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>

    document.getElementById("withdrawBid").addEventListener("click", withdrawBid, false);
    document.getElementById("bidValue").addEventListener("click", bidValue, false);
    document.getElementById("getBidBack").addEventListener("click", getBidBack, false);
    document.getElementById("bidAction").addEventListener("click", bidAction, false);
    function bidValue() {
      $.post("/getBid",
        {

          address: document.getElementById("address").value


        },
        function (tx, status) {
          console.log("Data: " + tx + "\nStatus: " + status);
          if (status == "success") {
            document.getElementById("demo").innerHTML = tx;
            alert(tx);

          }
        });
    }
    function withdrawBid() {
    
      $.post("/withdrawBid",
        {

          AddressList: document.getElementById("AddressList").value


        },
        function (tx, status) {
          console.log("Data: " + tx + "\nStatus: " + status);
          if (status == "success") {
            alert(tx);

          }
          location.reload();
        });
    }
    function getBidBack() {
      $.post("/getBidBack",
        {
          Address: document.getElementById("AddressList1").value

        },
        function (tx, status) {
          console.log("Data: " + tx + "\nStatus: " + status);
          if (status == "success") {
            alert(tx);
          }
        });
    }


    function bidAction() {
      $.post("/bidFor",
        {

          Bidders: document.getElementById("Bidders").value,
          amount: document.getElementById("amount").value

        },
        function (tx, status) {
          console.log("Data: " + tx + "\nStatus: " + status);
          if (status == "success") {
            alert(tx);

          }

          location.reload();

        });
    }
  </script>

</body>

</html>