<html>
<link rel='stylesheet' href='/stylesheets/style.css' />

<body>
    <p align="center"> Events Details</p>
    <table id="events">
        <tr>
            <th>Sl.No</th>
            <th>Event Transaction Hash</th>
            <th>Block Number</th>
            <th>Bidder</th>
            <th>Bid Value</th>
           
        </tr>
        <% 
    eventArray.forEach(function(el, index) {
  %>
        <tr>
            <td><%=el.id %></td>
            <td><%=el.transactionhash %></td>
            <td><%=el.blocknumber %></td>
            <td><%=el.bidder %></td>
            <td><%=el.bidvalue %></td>

        </tr>
        <%
    
  });
  %>

    </table>
</body>

</html>